{% extends 'base.html.twig' %}

{% block title %}Carnet de pêche{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center mb-5 mt-5">Au revoir !</h1>
            <p class="text-center">Il est temps de retouner pêcher pour alimenter ton carnet, à très vite !</p>
            <img src="{{ asset('img/boat.png') }}" width="500" class="rounded mx-auto d-block mt-5" alt="Bateau">
        </div>
    </div>
</div>
{% endblock %}
