{% extends 'base.html.twig' %}

{% block title %}Carnet de pêche{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center mb-5 mt-5">Bienvenue !</h1>
            <p class="text-center">Connectez-vous pour accéder à votre carnet de pêche</p>
        </div>
    </div>
</div>
{% endblock %}
