{% extends 'base.html.twig' %}

{% block title %}Carnet de pêche{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center mb-5 mt-5">Bienvenue sur le carnet de pêche de Tom !</h1>
            <p class="text-center">
                <a href="{{  path('app_login')}}">Connectez-vous</a> pour accéder à mon carnet de pêche.
            </p>
            <img 
                src="{{ asset('img/fishing-rod.png') }}" 
                width="300" 
                class="rounded mx-auto d-block mt-5" 
                alt="fishing-rod"
            >
        </div>
    </div>
</div>
{% endblock %}
