{% extends 'base.html.twig' %}

{% block title %}Carnet de pêche{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center mb-5 mt-5">Bienvenue sur le carnet de pêche de Tom !</h1>
            <P class="text-center">
                <a href="{{  path('fishing_visitors')}}">Consulter</a> mon carnet.</P>
            <img 
                src="{{ asset('img/fishing-rod.png') }}" 
                width="300" 
                class="rounded mx-auto d-block mt-5 shadow p-3 mb-5 bg-white rounded"
                alt="fishing-rod"
            >
        </div>
    </div>
</div>
{% endblock %}
