<form method="post" action="{{ path('fishing_delete', {'id': fishing.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette pêche ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fishing.id) }}">
    <button role="button" class="btn btn-danger ml-5 mt-2">Supprimer</button>
</form>
