{% extends 'base.html.twig' %}

{% block title %}Modifier une pêche{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-center mb-5 mt-2">Modifier la pêche {{ fishing.id }}</h1>
            </div>
        </div>
    </div>
    <div class="m-5">
        {{ include('fishing/_form.html.twig', {'button_label': 'Modifier'}) }}
        
        <a href="{{ path('fishing_index') }}" role="button" class="btn btn-success ml-5 mt-2">Retour à la liste</a>

        {{ include('fishing/_delete_form.html.twig') }}
    </div>
{% endblock %}
